/*import CherryFramework style*/
@import url("../CherryFramework/style.css");

/*import Google Fonts*/
@import url(//fonts.googleapis.com/css?family=Lato:400,700);

/*custom fonts*/
@FontAwesome: FontAwesome; 

/* #General
================================================== */

body {
	padding: 24px 0 0 0 !important;

	&:before {
		content: '';
		width: 100%;
		height: 457px;
		position: fixed;
		left: 0;
		top: 0;
		background-image: url(images/tail-top.png);
	}
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

h1 {
	small {
		font-size: inherit;
		font-weight: inherit;
		color: @linkColor;
	}
}

h2 {
	margin: 0 0 14px 0;
}

p {
	margin-bottom: 16px;
}

a {
	.transition(color 0.3s);

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

.main-holder {	
	.cherry-fixed-layout & {
		@media (min-width: 1200px) {
			max-width: 1230px;
		}
	}
}


/* #Header
================================================== */

.header {
	background-color: transparent;
	border: none;
	padding: 21px 0 17px 0;	

	.home & {
		padding: 21px 0;

		@media (min-width: 1200px) {
			padding-bottom: 31px;
		}
	}

	.pseudoStickyBlock {
		@media (max-width: 767px) {
			display: none !important;
		}
	}
}

/*/ Header */


/* Search Form
---------------------------------------- */
.search-form {
	form {
		.header & {
			float: right;
			margin: 0 0 0 22px;
			border: 1px solid #353535;
			background-color: #202020;
			height: 32px;
			.transition(border-color 0.3s);

			@media (min-width: 768px) and (max-width: 979px) {
				margin-left: 10px;
			}

			&.focus {
				border-color: @linkColor;
			}
		}		
	}
	input[type="text"] {
		padding-top: 10px;
		padding-bottom: 10px;

		.header & {			
			margin: 0;
			padding-top: 6px;
			padding-bottom: 6px;
			border: none;
			color: @white;
			float: left;
			background-color: transparent;

			@media (min-width: 1200px) {
				width: 294px;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				width: 148px;
			}
		}
	}

	&_is {
		.header & {
			margin: 0;
			padding: 0 5px;
			border: none;
			background-color: transparent;
			font-size: 25px;
			line-height: 28px;
			color: @linkColor;
			float: left;
			.transition(color 0.3s);

			&:hover,
			&:focus {
				color: @white;
				outline: none;
			}
		}	
	}
}
/* /Search Form */


/* Social
---------------------------------------- */

.social-nets-wrapper {
	.social {
		float: right;
		margin: 0;
		padding: 1px 0 0 0;

		@media (max-width: 767px) {
			float: none;
			text-align: center;
		}

		li {
			float: left;
			margin-left: 7px;
			list-style-type: none;

			@media (max-width: 767px) {
				float: none;
				display: inline-block;
				vertical-align: top;
			}

			&:first-child {
				margin-left: 0;
			}

			a {
				color: @white;
				width: 32px;
				height: 32px;				
				text-align: center;
				display: block;
				position: relative;
				.border-radius(100%);
				.transition(all 0.3s);

				&:before,
				&:after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: -1;
					.border-radius(inherit);					
				}

				&:after {					
					.scale(0);
				}

				&.facebook-link {
					&:before {
						background-color: #475aed;
					}

					&:after {
						background-color: #475aed;
					}

					&:hover,
					&:focus {
						color: #475aed;
					}
				}

				&.twitter-link {
					&:before {
						background-color: #12bfc5;
					}						

					&:after {
						background-color: #12bfc5;
					}

					&:hover,
					&:focus {
						color: #12bfc5;
					}
				}				

				i {
					font-size: 21px;
					line-height: 32px;
				}

				&:hover,
				&:focus {
					&:before,
					&:after {
						.transition(inherit);
					}					

					&:before {
						.scale(0);
					}

					&:after {
						background-color: @white;
						.scale(1);
					}
				}
			}
		}
	}
}

/*/ Social */


/* Logo
---------------------------------------- */

.logo {
	display: inline-block;
	vertical-align: middle;
	float: none !important;
	position: relative;
	top: -4px;

	@media (min-width: 768px) and (max-width: 979px) {
		width: 100%;
		top: -2px;
	}
	@media (max-width: 767px) {
		display: block;
		text-align: center;
		top: 0;
		padding: 20px 0;
	}

	.isStuck & {
		width: 80%;
		
		@media (min-width: 1200px) {
			width: 70%;
		}
		@media (min-width: 768px) and (max-width: 979px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&_link {
		@media (max-width: 1200px) {
			font-size: 22px !important;
		}

		&:hover,
		&:focus {
			color: @white;
		}
	}

	&_tagline {
		color: @linkColor;
	}
}

/*/ Logo */


/* #Navigation
---------------------------------------- */

.nav {
	&-wrapper {
		margin: 20px 0 0 0;
		height: 85px;
		line-height: 85px;		
		z-index: 2;
		position: relative;

		@media (max-width: 767px) {
			height: auto;
			line-height: @baseLineHeight;
			padding-bottom: 20px;
			margin-left: -20px;
			margin-right: -20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		
		&:before,
		&:after {
			content: '';
			left: -20px;
			right: -20px;
			width: 980px;
			position: absolute;

			@media (min-width: 1200px) {
				left: -30px;
				right: -30px;
				width: 1230px;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				width: 764px;
			}
			@media (max-width: 767px) {
				width: 100%;
				left: 0;
				right: 0;
			}
		}

		&:before {			
			top: 0;			
			height: 100%;
			#gradient > .vertical(#2e2e2e,#1e1e1e);			
		}

		&.isStuck {
			margin-top: 0;
			height: 53px;
			line-height: 53px;

			@media (max-width: 767px) {
				position: relative !important;
				top: 0 !important;
				height: auto;
				line-height: @baseLineHeight;
				margin-top: 20px;
			}

			&:before,
			&:after {
				width: 200%;
				left: 50%;
				margin: 0 0 0 -100%;

				@media (min-width: 1200px) {
					width: 200%;
					left: 50%;
					right: auto;
					margin: 0 0 0 -100%;
				}	
				@media (max-width: 767px) {
					width: 100%;
					left: 0;
					margin: 0;
				}			
			}

			&:after {
				height: 7px;
				bottom: -7px;
				background-image: url(images/shadow.png);
			}
		}
	}

	&__primary {
		margin-bottom: 0;
	}
}

/* Essential styles for dropdown menu */
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: auto;
	right: 100%;
}

/* Our skin for dropdown menu */
.sf-menu {
	border-right: 1px solid @black;
}
.sf-menu > li {
	background-color: transparent;
	border-left: 1px solid @black;
}
.sf-menu > li > a {
	padding: 31px 15px;
	border: none;
	text-transform: uppercase;

	.isStuck & {
		padding: 15px 15px;
	}

	@media (min-width: 1200px) {
		padding: 31px 20px;

		.isStuck & {
			padding: 15px 20px;
		}
	}
	@media (min-width: 768px) and (max-width: 979px) {
		font-size: 20px !important;
		line-height: 20px !important;
		padding: 32px 10px 33px; 

		.isStuck & {
			padding: 16px 10px 17px;
		}
	}

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 0;
		z-index: -1;
		.transition(height 0.3s);
		#gradient > .vertical(#2b2b2b,#353535);
	}
}
.sf-menu li ul {
	width: 218px;
	background-color: #353535;
	background-repeat: repeat-x;
	background-image: url(images/shadow.png);
}
.sf-menu li li {
	text-align: left;
	background-color: transparent;
}
.sf-menu li li a {
	font-size: 14px;
	padding: 6px 16px 7px 19px;
	color: @white;
	border: none;
	.transition(all 0.3s);
}
.sf-menu li li ul {
	background-image: none;
}
.sf-menu > li > a:hover, 
.sf-menu > li.sfHover> a,
.sf-menu > li.current-menu-item > a,
.sf-menu > li.current_page_item > a {
	color: @linkColor;
	background-color: transparent;

	&:before {
		height: 100%;
	}
}
.sf-menu li li > a:hover, 
.sf-menu li li.sfHover > a,
.sf-menu li li.current-menu-item > a,
.sf-menu li li.current_page_item > a  {
	background:	#181818;
	color: @linkColor;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 15px;

	@media (min-width: 1200px) {
		padding-right: 20px;
	}
	@media (min-width: 768px) and (max-width: 979px) {
		padding-right: 10px;
	}
}
.sf-sub-indicator {
	visibility: hidden;
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator {
	position: relative;
	right: 0;
	top: 3px;
	display: inline-block;
	vertical-align: top;
	width: auto;
	height: auto;
	background-image: none;
	visibility: visible;
	text-indent: 0;
	.hide-text();

	&:before {
		content: '\f0da';
		font-size: 14px;
		font-family: @FontAwesome;
		line-height: 1em;
		color: @white;
		padding: 0 0 0 13px;
	}
}

/* Navigation select styling */
.select-menu {
	color: @black;
}

/*/ Navigation */



/* #Content
================================================== */

#content {
	padding-top: 16px;
}

.content-holder {
	padding-bottom: 41px;
}

/* 404 Error Page
---------------------------------------- */
.error404-holder {
	&_num {
		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 210px;			
		}		
	}//404 number
}//404 holder

/* Title
---------------------------------------- */
.title{
	&-section {
		padding: 0;
	}
	&-header {
		font-size: 16px;
		overflow: visible;
		margin: 0 0 3px 0;
	}
}

/* Breadcrumb
---------------------------------------- */
.breadcrumb__t {
	padding: 0;
	background-color: transparent;
	.border-radius(0px);

	li {
		text-shadow: none;
		display: inline-block;
		vertical-align: top;
		line-height: 34px;

		&.active {
			color: @linkColorHover;
		}

		&.divider {
			width: 1px;
			height: 34px;
			background-color: #353535;
			margin: 0 11px;

			&:after {
				content: '';				
			}
		}
	}
}
/* /Breadcrumb */

/* #Post
================================================== */
.post {
	&__holder {
		.post-header {
			.post-title {
				margin: 0 0 20px 0;
				padding: 11px 19px 12px;
				font-size: 16px;
				background-color: #202020;

				@media (min-width: 1200px) {
					margin-bottom: 30px;
				}

				a {
					&:hover,
					&:focus {
						color: @linkColorHover;
					}
				}
			}
		}
		.featured-thumbnail {
			&.large {
				margin: 0 0 25px 0;
			}
		}
		.post_content {
			padding-bottom: 5px;

			h1, h2, h3, h4, h5, h6 {
				margin: 0 0 12px;
			}

			.btn-primary {
				font-size: 16px;
				padding: 11px 23px;
			}
		}
	}//post__holder
}
.post_meta {
	font-size: @baseFontSize;
	border: none;
	padding: 0;
	margin-bottom: 27px;

	i {
		color: @linkColor;
		padding-right: 5px;
	}

	a {
		color: @textColor;

		&:hover,
		&:focus {
			color: @linkColorHover;
		}
	}

	div[class^="post_"] {
		padding: 0 17px 0 0;
	}
}

/* Share buttons */
.share-buttons {
	margin-bottom: 20px;
	padding: 0;

	@media (min-width: 1200px) {
		margin-bottom: 30px;
	}

	span, li {
		line-height: 18px;
	}
}
/*/ Share buttons */

/* Author Page
---------------------------------------- */
.post-author {
	padding: 0;
	border: none;
	margin-bottom: 15px;
	background-color: transparent;

	@media (min-width: 1200px) {
		margin-bottom: 25px;
	}

	&__page {

	}

	&_h {
		font-size: 16px;
		font-weight: bold;
		background-color: #202020;
		color: @linkColorHover;
		padding: 11px 19px 12px;
		margin: 0 0 15px 0;

		@media (min-width: 1200px) {
			margin-bottom: 25px;
		}
	}

	&_link {
		margin-top: 19px;
	}

	&_gravatar {
		margin: 5px 20px 0 0;

		@media (min-width: 1200px) {
			margin-right: 30px;
		}

		& img {
			padding: 0;
			border: none;
			background-color: transparent;
		}
	}

	.post-author_desc {
		overflow: visible;
		margin-top: 0;

		@media (min-width: 1200px) {
			overflow: hidden;
		}

		.post-author_link {
			font-size: 13px;
			color: @linkColorHover;

			p {
				margin-bottom: 0;
			}

			a {
				text-transform: capitalize;
			}
		}
	}
}

/* Recent author posts */
#recent-author-posts {
	.post__holder {
		margin-bottom: 40px;
	}
}

/* Recent author comments */
#recent-author-comments {
	padding-top: 30px;

	ul {
		margin-left: 0;

		li {
			list-style-type: none;
			margin-bottom: 5px;
		}
	}
}

/* Related Posts */
.related-posts {
	margin-bottom: 18px;

	@media (min-width: 1200px) {
		margin-bottom: 28px;
	}

	&_h {
		font-size: 16px;
		font-weight: bold;
		background-color: #202020;
		color: @linkColorHover;
		padding: 11px 19px 12px;
		margin: 0 0 20px 0;

		@media (min-width: 1200px) {
			margin-bottom: 30px;
		}
	}

		&_item {		
			font-size: @baseFontSize;
			margin-bottom: 0;
		}

		.featured-thumbnail {
			margin: 0 0 11px 0;

		}
}
/*/ Related Posts */

/* Testimonials Page
---------------------------------------- */
.testimonial {
	padding: 0;
	border: none;
	background: none;
	font-style: normal;
	font-family: @baseFontFamily;
	.border-radius(0px);

	&_bq {
		p {
			font-size: @baseFontSize;
			line-height: @baseLineHeight;
		}
	}

	& small {
		font-family: @baseFontFamily;
		font-size: 12px;
	}
}

/* Posts navigation
---------------------------------------- */
.pagination__posts {
	& ul {
		.box-shadow(none);

		& li {
			& a {
				padding: 5px 12px !important;
				margin: 0 2px 4px;
				border: none !important;
				background: none !important;
				text-transform: uppercase;
				color: @linkColorHover;
				.border-radius(0px) !important;
				.transition(0.3s);

				&:hover {
					color: @black;		
					background: @linkColor !important;
				}
			}
		}

		& .active {
			& a {	
				font-weight: bold;							
				color: @black;	
				background: @linkColor !important;
			}
		}

		.prev,
		.next,
		.last,
		.first {
			@media (max-width: 480px) {
				display: none;		
			}	
		}
	}
}
/* /Posts navigation */

/* Page Header */
.page-header {
	border-color: #2b2b2b;
}

/* Single Pager */
.single-pager {
	border-color: #2b2b2b;	

	a {
		border: none !important;
		background: @linkColor !important;
		color: @black;
		font-size: @baseFontSize;
		font-weight: bold;
		.border-radius(0px) !important;
		.transition(all 0.3s);

		&:hover,
		&:focus {
			background: @black !important;
			color: @linkColor;
		}
	}
}

/* Filterable Portfolio
---------------------------------------- */
.filter-wrapper {
	background-color: #202020;
	padding: 12px 18px 11px;
	margin-bottom: 20px;

	@media (min-width: 1200px) {
		margin-bottom: 30px;
	}

	.pull-right {
		float: left !important;
	}

	strong {
		font-weight: normal;
		padding: 0;
		color: @white;
		margin-right: 13px;
	}
}
.nav-pills {
	margin-bottom: 0;

	li {
		line-height: 20px;
		padding-left: 12px;
		margin-left: 12px;
		border-left: 1px solid #353535;

		&:first-child {
			border: none;
			padding-left: 0;
			margin-left: 0;
		}

		a {
			padding: 0 !important;
			margin: 0;
			background: none !important;
			line-height: @baseLineHeight;
			color: @linkColorHover;

			@media (max-width: 480px) {
				padding: 0;
			}

			&:hover,
			&:focus {
				color: @linkColor;
			}
		}

		&.active {
			a {
				color: @linkColor !important;
			}
		}
	}
}
.filterable-portfolio {
	& .portfolio_item {
		text-align: center;
	}

	.caption__portfolio {
		padding-top: 10px;
	}

	h3 {
		margin-top: 2px;

		a {
			color: @linkColorHover;

			&:hover,
			&:focus {
				color: @linkColor;
			}
		}
	}

	.btn-primary {
		font-size: 16px;
		padding: 11px 23px;
	}
}

/* Info */
.portfolio-meta {
	border-color: #2b2b2b;

	&-list {
		border-color: #2b2b2b;
	}

	i {
		font-size: 14px;
		color: @linkColor;
	}

	a {
		color: @textColor;

		&:hover,
		&:focus {
			color: @linkColorHover;
		}
	}
}

/* Zoom Icon */
.zoom-icon {
	background: rgba(red(@linkColor), green(@linkColor), blue(@linkColor), .8);
}
.no-rgba .zoom-icon {
	background: url(images/yellow-opacity-80.png);
}
.zoom-icon:before {
	margin: -23px 0 0 -23px;
	width: 46px;
	height: 46px;
	background: url(images/magnify-alt.png) 50% 50% no-repeat;
	.transition(0.2s);
	.scale(1.2);
}
.featured-thumbnail a:hover .zoom-icon:before,
a.thumbnail:hover .zoom-icon:before,
.thumbnail__portfolio a:hover .zoom-icon:before {
	.scale(1);	
}

/*/ Content */



/* #Comments
================================================== */

/* Comment Heading */
.comments-h {
	font-size: 16px;
	font-weight: bold;
	background-color: #202020;
	color: @linkColorHover;
	padding: 11px 19px 12px;
	margin: 0 0 15px 0;

	@media (min-width: 1200px) {
		margin-bottom: 25px;
	}
}

/* Comment List */
.comment .comment-body {
    margin-bottom: 22px;
    padding: 0;
	border: none;
    background-color: transparent;

    p {
    	margin-bottom: 20px;
    }

    .extra-wrap {
    	@media (max-width: 767px) {
    		overflow: visible;
    	}
    }
}
.comment.bypostauthor .comment-body {
	background-color: transparent;
}
.comment-author {
	margin: 5px 20px 0 0;

	@media (min-width: 1200px) {
		margin-right: 30px;
	}
}
.comment-author .author {
	width: 80px;
	padding-top: 10px;
	font-size: @baseFontSize;
	font-weight: normal;

	@media (max-width: 767px) {
		margin-bottom: 10px;
	}

	i {
		font-size: 14px;
		color: @linkColor;
		padding: 0 5px 0 1px;
	}
}

/* Comment meta */
.comment-meta {
	float: left;
	font-size: @baseFontSize;

	i {
		font-size: 14px;
		color: @linkColor;
		padding-right: 6px;
	}
}

/* Reply */
.reply {
	margin-left: 0;
	padding-top: 15px;

	.comment-reply-link {
		background: @linkColor;
		color: @black;
		font-size: 16px;	
		font-weight: bold;
		text-transform: uppercase;
		padding: 11px 23px;
		position: relative;	
		z-index: 1;
		overflow: hidden;
		.transition(color 0.3s);

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 0;
			background: @black;
			z-index: -1;
			.transition(all 0.4s linear);
		}

		&:before {
			top: -50%;
		}

		&:after {
			bottom: -50%;
		}

		&:hover,
		&:focus {
			color: @linkColor;	
			background: @linkColor;		
			.transition(color 0.3s);

			&:before,
			&:after {
				height: 100%;
			}

			&:before {
				top: auto;
				bottom: 50%;
			}

			&:after {
				bottom: auto;
				top: 50%;
			}
		}
	}
}

#respond {
	h3 {
		font-size: 16px;
		font-weight: bold;
		background-color: #202020;
		color: @linkColorHover;
		padding: 11px 19px 12px;
		margin: 0 0 20px 0;

		@media (min-width: 1200px) {
			margin-bottom: 30px;
		}
	}

	form {
		.btn {
			margin-top: 0;
		}
	}
}

.comment-list ul.children {
	margin-left: 50px;
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.comment-list ul.children {
		margin: 0;
	} 
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.comment-list ul.children {
		margin: 0;
	}  
}

/* Comment form */
#commentform {
	p {
		margin-bottom: 31px;
		.clearfix();

		&.field {
			margin-bottom: 26px;
		}
	}

	input[type="text"] {
		width: 344px;
		padding: 6px 12px;

		@media (min-width: 1200px) {
			padding-left: 19px;
			padding-right: 19px;
		}
	}

	textarea {
		padding: 6px 12px;
		min-height: 364px;
		height: 364px;

		@media (min-width: 1200px) {
			padding-left: 19px;
			padding-right: 19px;
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#commentform input[type="text"] {
		width: 100%;
		height: 34px;
	}
}

/*/ Comments */



/* #Widgets
================================================== */

#sidebar {
	padding-top: 16px;

	.widget {
		margin-bottom: 20px;

		@media (min-width: 1200px) {
			margin-bottom: 30px;
		}

		&-title {
			font-size: 16px;
			font-weight: bold;
			background-color: #202020;
			color: @linkColorHover;
			padding: 11px 19px 12px;
			margin: 0 0 20px 0 !important;

			@media (min-width: 1200px) {
				margin-bottom: 30px !important;
			}
		}	
		
		&_meta,
		&_pages,
		&_archive,		
		&_categories,
		&_recent_entries {
			ul {
				margin: 0;

				> li {
					margin: 0;
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
					border-top: 1px solid #2b2b2b;
					list-style-type: none;

					@media (min-width: 768px) and (max-width: 979px) {
						font-size: 14px;
					}

					&:first-child {
						border-top: none;
					}

					&:before {
						display: none;
					}

					> a {
						padding: 11px 14px;						
						background-color: #232323;
						color: @linkColorHover;
						display: block;
						position: relative;
						z-index: 1;

						@media (min-width: 768px) and (max-width: 979px) {
							padding: 9px 10px;
						}

						&:before {
							content: '';
							background-color: @linkColor;
							position: absolute;
							left: 0;
							top: 0;
							width: 0;
							height: 100%;
							z-index: -1;
							.transition(width 0.3s);
						}

						&:hover,
						&:focus {
							color: @black;

							&:before {
								width: 100%;
							}
						}
					}
				}
			}
		}		

		&_categories {
			.widget-title {
				display: none;
			}
		}

		&_pages {
			ul {
				ul {
					border-top: 1px solid #2b2b2b;

					li {
						a {
							padding-left: 35px;
						}
					}
				}
			}
		}

		&_recent_comments {
			ul {
				margin: 0;

				li {
					font-size: 16px;
					font-weight: bold;					
					list-style-type: none;
					padding: 11px 14px;						
					background-color: #232323;
					border-top: 1px solid #2b2b2b;

					&:first-child {
						border: none;
					}

					a {
						text-transform: uppercase;
						color: @linkColorHover;

						&:hover,
						&:focus {
							color: @linkColor;
						}
					}
				}
			}
		}
	}
}
#sidebar .flexslider ul > li {
	border: none;
}

.widget {
	&_header {
		margin-bottom: 0;

		@media (max-width: 767px) {
			margin-bottom: 21px;
		}

		.widget-title {
			display: none;
		}

		ul {
			margin: 0;

			@media (max-width: 767px) {
				text-align: center;
			}

			li {
				list-style-type: none;
				float: left;
				border-left: 1px solid #353535;
				padding-left: 12px;
				margin-left: 12px;
				line-height: 34px;

				@media (min-width: 768px) and (max-width: 979px) {
					padding-left: 8px;
					margin-left: 8px;
				}
				@media (max-width: 767px) {
					float: none;
					display: inline-block;
					vertical-align: top;
				}
				@media (max-width: 480px) {
					display: block;
					border-left: none;
					padding: 0 0 0 0;
					margin: 0 0 0 0;
					border-top: 1px solid #353535;
				}

				&:first-child {
					border-left: none;
					padding-left: 0;
					margin-left: 0;

					@media (max-width: 480px) {
						border-top: none;
					}
				}

				a {
					color: @white;

					abbr {
						border-color: @white;
						.transition(border-color 0.3s);
					}

					&:hover,
					&:focus {
						color: @linkColor;

						abbr {
							border-color: @linkColor;
						}
					}
				}
			}
		}
	}	
}


/* Standard Widgets
---------------------------------------- */

/* Calendar */
#wp-calendar td {
	&#today {
		font-weight: bold;
		color: @linkColor;
	}
}
#wp-calendar caption {
	color: @linkColor;
}
#wp-calendar thead th {
	color: @linkColor;
}		
/*/ Calendar */


/* Custom Widgets
---------------------------------------- */

/* Flickr widget */
.flickr {
	&_li {
		border: none !important;
	}
		&_li .thumbnail {
			display: inline-block !important;
			padding: 0 !important;
			background: none !important;	

			&:before {
				display: none;
			}

			&:hover,
			&:focus {
				.box-shadow(none);
			}
		}
}
/*/ Flickr widget */

/* Posts List */
.post-list {
	margin-top: -5px !important;
	margin-bottom: -10px !important;

	& li {
		padding: 0;
		margin: 15px 0 0 0 !important;
		border: none !important;
		text-transform: none !important;
		font-weight: normal !important;
		font-size: @baseFontSize !important;

		&:first-child {
			margin-top: 0 !important;
		}

		a {
			padding: 0 !important;
			background: none !important;
			display: inline !important;

			&:before {
				display: none !important;
			}
		}
	}

	.featured-thumbnail {
		margin: 5px 20px 10px 0;

		@media (min-width: 1200px) {
			margin-right: 30px;
		}
	}

	time {
		i {
			color: @linkColor;
			padding-right: 6px;
		}
	}

	&_h {
		margin: 1px 0 12px 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;

		a {
			color: @linkColorHover;

			&:hover,
			&:focus {
				color: @linkColor;
			}
		}
	}

	& .excerpt {
		margin-bottom: 0;		
		display: inline;
		vertical-align: top;
		padding-right: 2px;
	}

	.btn-link {
		vertical-align: top;
		color: @linkColor !important;

		&:hover,
		&:focus {
			color: @linkColorHover !important;
		}
	}

	.btn [class^="icon-"], 
	.btn [class*=" icon-"] {
		margin-right: 0;
	}
}
/*/ Posts List */

/* Custom Recent Comments */
.comments-custom {
	margin-top: -5px !important;
	
	& li {
		margin: 20px 0 0 0 !important;
		padding: 0;
		border: none !important;
		text-transform: none !important;
		font-size: @baseFontSize !important;
		font-weight: normal !important;

		&:first-child {
			margin-top: 0 !important;
		}
	}

	.featured-thumbnail {
		margin: 5px 20px 0 0;

		@media (min-width: 1200px) {
			margin-right: 30px;
		}
	}

	&_txt {
		padding: 10px 0 0 0;
		margin: 0;
		border: none;

		a {
			i {
				float: none;
				min-width: 0;				
				top: 0;
				.transition(color 0.3s);
			}

			&:hover,
			&:focus {
				text-decoration: none;				

				i {
					color: @linkColorHover;
				}
			}
		}
	}

	&_h_title,  &_h_author {
		margin-bottom: 0;
	}

	&_h_title {
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;
		margin-bottom: 11px;

		a {
			color: @linkColorHover;

			&:hover,
			&:focus {
				color: @linkColor;
			}
		}
	}

	&_h_author {
		font-weight: normal;
		text-transform: capitalize;
		color: @textColor;
	}

	time {
		display: block;
		margin-bottom: 9px;
	}

	& i {
		font-size: 14px;
		margin-right: 0;
		color: @linkColor;
		min-width: 19px;
		text-align: left;
		position: relative;
		top: 2px;
	}

	.meta_format {
		margin-top: 0;
 		font-size: 13px;
 	}
}
/*/ Custom Recent Comments */

/*/ Widgets */



/* #Shortcodes
================================================== */

/* Recent Posts Shortcodes
---------------------------------------- */
/* Recent Posts Default */
.recent-posts {
	&_li {
		text-align: center;
	}

	&_li h5 {
		font-size: 14px;
		font-weight: normal;
		line-height: 20px;		

		a {
			color: @linkColorHover;

			&:hover,
			&:focus {
				color: @linkColor;
			}
		}
	}

	&_li .meta {
		margin-bottom: 0;
		color: #8c8c8c;
		font-size: 13px;
		line-height: 18px;
		text-transform: none;

		a {
			color: inherit;

			&:hover,
			&:focus {
				color: @linkColorHover;
			}
		}
	}

	.featured-thumbnail {
		a {
			background-color: @black;

			img {
				.transition(0.3s);
			}

			&:hover,
			&:focus {
				img {
					.opacity(70);
				}
			}
		}
	}

	&.custom-grid {
		margin: -27px 0 11px -20px !important;

		@media (min-width: 1200px) {
			margin-left: -30px !important;
		}
		@media (max-width: 767px) {
			margin-left: -5% !important;
			margin-bottom: 20px !important;
		}

		li {
			margin: 27px 0 0 20px;
			display: inline-block;
			vertical-align: top;
			float: none;
			width: 140px;

			@media (min-width: 1200px) {
				margin-left: 30px;
				width: 170px;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				width: 135px;	
			}
			@media (max-width: 767px) {
				width: 45%;
				margin-left: 5%;
			}
		}

		.post-date,
		.post-comments {
			display: none;
		}

		.featured-thumbnail {
			float: none;
			margin: 0 0 10px 0;

			@media (max-width: 767px) {
				width: auto !important;
				display: inline-block;
				vertical-align: top;
			}

			img {
				@media (max-width: 767px) {
					max-width: none;
					width: 100%;
				}
			}
		}

		h5 {
			margin: 2px 0 0 0;
		}
	}
}

/* Banner
---------------------------------------- */
.banner-wrap {
	text-align: center;
	position: relative;

	> a {
		display: block;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}

		&:hover,
		&:focus {
			& .featured-thumbnail {
				img {
					.opacity(70);
				}				
			}
		}
	}

	& .featured-thumbnail {
		margin: 0;

		img {
			width: 100%;
			max-width: none;
			.transition(0.3s);
		}		
	}

	.desc {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;

		&-inner {
			padding: 0 8px;

			@media (min-width: 1200px) {
				padding: 0 12px;
			}
		}
	}

	& h5 {
		text-transform: uppercase;
		margin: 0;
	}

	&.style-1 {
		margin: 0 0 27px 0;		

		@media (max-width: 767px) {
			max-width: 170px;
		}		

		> a {
			&:after {					
				height: 263px;					
				background-image: url(images/banner-tail.png);				
			}
		}

		.desc {
			bottom: 23px;

			@media (min-width: 768px) and (max-width: 979px) {
				bottom: 15px;
			}
		}

		& h5 {
			font-size: 20px;
			line-height: 25px;	

			@media (min-width: 1200px) {
				font-size: 26px;
				line-height: 33px;	
			}
			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}	

	&.style-2 {
		margin: 0 0 20px 0;

		@media (min-width: 1200px) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			max-width: 370px;
		}

		> a {
			background-color: @black;

			&:after {					
				height: 167px;
				background-image: url(images/shadow1.png);				
			}

			&:hover,
			&:focus {
				& .featured-thumbnail {
					img {
						.opacity(100);
					}				
				}
			}
		}

		& .featured-thumbnail {
			img {
				.opacity(70);
			}			
		}

		.desc {
			bottom: 10px;

			@media (min-width: 1200px) {
				bottom: 16px;
			}
		}

		& h5 {
			font-size: 18px;
			line-height: 25px;
			color: @white;

			@media (min-width: 1200px) {
				font-size: 29px;
				line-height: 37px;
				margin-bottom: 3px;
			}		
			@media (max-width: 979px) {
				font-size: 16px;
				line-height: 20px;
			}	
		}

		& p {
			font-size: 13px;
			text-transform: uppercase;
			color: @linkColor;
			margin: 0;

			@media (min-width: 1200px) {
				font-size: 14px;
			}
			@media (max-width: 979px) {
				display: none;
			}
		}
	}	
}

/* Carousel (Elasti) */
.es-carousel {
	margin-bottom: 31px;

	&_list {
		li {
			text-align: center;

			.featured-thumbnail {
				margin: 0 0 10px 0;

				a {
					background-color: @black;

					img {
						.transition(0.3s);
					}

					&:hover,
					&:focus {
						img {
							.opacity(70);
						}
					}
				}
			}

			.post-category {
				color: @textColor;

				a {
					color: inherit;

					&:hover,
					&:focus {
						color: @linkColorHover;
					}
				}
			}

			h5 {
				font-size: 14px;
				font-weight: normal;
				line-height: 20px;
				margin: 2px 0 0 0;

				a {
					color: @linkColorHover;
					text-decoration: none;

					&:hover,
					&:focus {
						color: @linkColor;
					}
				}
			}
		}
	}
}
.es-nav {
	.es-nav-prev,
	.es-nav-next {
		background: none;
		width: auto;
		height: auto;
		text-indent: 0;
		margin: 0;
		top: 105px;
		opacity: 1;
		.hide-text();

		&:before {
			font-size: 45px;
			font-family: @FontAwesome;
			line-height: 1em;
			color: @black;
			.transition(0.3s);
		}

		&:hover {
			&:before {
				color: @linkColorHover;
			}
		}
	}

	.es-nav-prev {
		left: 21px !important;

		&:before {
			content: '\f104';
		}
	}

	.es-nav-next {
		right: 21px !important;

		&:before {
			content: '\f105';
		}
	}
}

/*/ Shortcodes */



/* #Footer
================================================== */

.footer {
	background-color: @bodyBackground;
	border: none;
	padding: 16px 0;
}

/* Footer navigation */
nav.footer-nav {
	margin-bottom: 0;

	ul {		
		li {		
			a {
				vertical-align: top;

				&:hover,
				&:focus {
					color: @linkColorHover;
				}
			}
		}
		li.current-menu-item a {
			color: @linkColorHover;
			text-decoration: none;
		}
	}
}

/* Copyright */
.copyright {
	padding: 0;
}

/* Footer text */
.footer-text {
	font-size: 11px;
	line-height: @baseLineHeight;

	a {
		color: @textColor;

		&:hover,
		&:focus {
			color: @linkColorHover;
		}
	}
}

/*/ Footer */


/* #Misc
================================================== */

/* Vertical Rule */
.vr {
	padding: 35px 0;

	@media (max-width: 767px) {
		border-bottom: 1px solid #2b2b2b;
	}

	&:before,
	&:after {
		content: '';
		width: 1px;
		height: 100%;
		background-color: #2b2b2b;
		position: absolute;
		top: 0;

		@media (max-width: 767px) {
			display: none;
		}
	}

	&:before {
		left: 0;
	}

	&:after {
		right: -21px;

		@media (min-width: 1200px) {
			right: -31px;
		}
	}

	&-first {
		&:before {
			display: none;
		}
	}

	&-last {
		&:after {
			display: none;
		}

		@media (max-width: 767px) {
			border: none;
		}
	}
}

/* Content Box */
.content_box {
	background-color: #232323;

	&:before,
	&:after {
		display: none;
	}

	.arrow-list {
		padding: 0 0 0 20px;

		@media (min-width: 1200px) {
			padding: 0 0 0 40px;				
		}
		@media (min-width: 768px) and (max-width: 979px) {
			padding: 0 0 0 12px;
		}

		> ul {
			margin: 0;
		}
	}
}

/* Spacer */
.spacer {
	height: 20px;

	@media (min-width: 1200px) {
		height: 30px;
	}
}

/* Title Box */
.title-box {
	margin-bottom: 20px;
	padding: 11px 18px 12px;
	background-color: #202020;

	@media (min-width: 1200px) {
		margin-bottom: 30px;
	}
}

/* Flexslider */
.flexslider {
	overflow: visible !important;

	.slides {
		> li {
			font-weight: normal !important;
			text-transform: none !important;

			> a {
				padding: 0 !important;
				background: none !important;

				&:before {
					display: none !important;
				}
			}
		}	
	}	

	&.extra-style {
		margin-bottom: 20px;

		@media (min-width: 1200px) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			margin-top: 25px;
		}

		.slides {
			li {
				.desc {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					background-position: 0 100%;
					background-image: url(images/shadow1.png);
					min-height: 167px;

					&-inner {
						padding: 0 50px 20px;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;

						@media (min-width: 1200px) {
							padding: 0 145px 46px;
						}
						@media (min-width: 768px) and (max-width: 979px) {
							padding: 0 80px 20px;
						}
						@media (max-width: 480px) {
							padding: 0 40px 20px;
						}
					}
				}

				.featured-thumbnail {
					margin: 0;				

					a {
						background-color: @black;

						img {
							.opacity(70);

							.ie8 & {
								max-width: none !important;
							}
						}
					}				
				}

				h5 {
					font-size: 49px;
					line-height: 50px;
					margin: 0 0 12px 0;

					@media (min-width: 1200px) {
						font-size: 59px;
						line-height: 60px;
					}
					@media (min-width: 768px) and (max-width: 979px) {
						font-size: 30px;
						line-height: 31px;
					}
					@media (max-width: 767px) {
						font-size: 30px;
						line-height: 31px;	
					}
					@media (max-width: 480px) {
						font-size: 15px;
						line-height: 20px;
						margin-bottom: 0;
					}

					a {
						color: @linkColorHover;

						&:hover,
						&:focus {
							color: @linkColor;
						}
					}
				}

				.excerpt {
					font-size: 14px;
					text-transform: uppercase;
					color: @linkColor;
					margin: 0;

					@media (max-width: 480px) {
						display: none;
					}
				}
			}	
		}	
	}		
}
.flex-direction-nav {
	a {
		opacity: 1 !important;		
		text-shadow: none;	
		overflow: visible;	
		padding: 0 !important;
		background-color: transparent !important;
		.hide-text();

		&:before,
		&:after {
			position: absolute;
			top: 0;
			font-size: 45px;
			font-family: @FontAwesome;
			line-height: 1em;						
			.transition(0.5s);

			.widget & {
				color: @linkColorHover !important;
			}
		}

		&:before {		
			color: @linkColor;
		}

		&:after {
			color: @linkColorHover;
			.scale(0);
			.opacity(0);

			.ie8 & {
				visibility: hidden;
			}
		}
		
		&.flex-prev,
		&.flex-next {
			width: auto;
			height: auto;
		}

		&.flex-prev {
			left: 21px !important;

			@media (max-width: 480px) {
				left: 10px !important;
			}

			&:before,
			&:after {
				left: 0;
				content: '\f104';
			}
		}

		&.flex-next {
			right: 21px !important;

			@media (max-width: 480px) {
				right: 10px !important;
			}

			&:before,
			&:after {
				right: 0;
				content: '\f105';
			}
		}

		&:hover {
			&:before,
			&:after {
				.widget & {
					color: @linkColor !important;
				}
			}

			&:before {
				.scale(0);
				.opacity(0);

				.ie8 & {
					visibility: hidden;
				}
			}	

			&:after {
				.scale(1);
				.opacity(100);

				.ie8 & {
					visibility: visible;
				}
			}	
		}
	}
}
.flex-control-paging {
	.extra-style & {
		bottom: -29px;
	}
}
.flex-control-paging li a {
	padding: 0 !important;
	background-color: #323232;
	.box-shadow(none);
	.transition(background-color 0.3s);

	&:before {
		display: none !important;
	}

	&:hover,
	&.flex-active {
		background-color: @linkColor;
	}
}

/* Thumbnail */
.thumbnail,
.featured-thumbnail {
	padding: 0;
	border: none;
	.border-radius(0px);
	.box-shadow(none);
}

/* List Styling */
.list {
	&.styled {
		> ul {
			li {
				&:before {
					font-size: 14px;
					color: @linkColor;
				}

				a {
					color: @linkColorHover;

					&:hover,
					&:focus {
						color: @linkColor;
					}
				}
			}
		}

		&.arrow-list {
			> ul {
				li {
					margin: 18px 0 0 0;

					&:first-child {
						margin-top: 0;
					}

					&:before {
						content: '\f105';
						margin-right: 0;
						min-width: 15px;
						.transition(0.3s);

						@media (min-width: 768px) and (max-width: 979px) {
							min-width: 12px;
							width: 12px;
						}
					}

					&:hover {
						&:before {
							.translate(5px,0);

							@media (min-width: 768px) and (max-width: 979px) {
								.translate(3px,0);
							}
						}
					}
				}
			}
		}

		&.custom-list {
			margin-bottom: 20px;
			
			@media (min-width: 1200px) {
				margin-bottom: 30px;
			}			

			> ul {
				margin: 0;

				li {
					margin: 0;
					font-size: 16px;
					font-weight: bold;
					text-transform: uppercase;
					border-top: 1px solid #2b2b2b;

					@media (min-width: 768px) and (max-width: 979px) {
						font-size: 14px;
					}

					&:first-child {
						border-top: none;
					}

					&:before {
						display: none;
					}

					a {
						padding: 11px 14px;						
						background-color: #232323;
						color: @linkColorHover;
						display: block;
						position: relative;
						z-index: 1;

						@media (min-width: 768px) and (max-width: 979px) {
							padding: 9px 10px;
						}

						&:before {
							content: '';
							background-color: @linkColor;
							position: absolute;
							left: 0;
							top: 0;
							width: 0;
							height: 100%;
							z-index: -1;
							.transition(width 0.3s);
						}

						&:hover,
						&:focus {
							color: @black;

							&:before {
								width: 100%;
							}
						}
					}
				}
			}
		}		
	}
}

/* Form Elements */
input[type="submit"],
input[type="reset"] {
	font-size: 16px;
	height: 42px;
	padding-left: 23px;
	padding-right: 23px;
	.transition(all 0.3s);

	&:hover,
	&:focus {
		background: @black;
		color: @linkColor;
	}
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #8c8c8c;
	padding: 6px 12px;
	border-color: #353535;
	background-color: #202020;
	.border-radius(0px);
	.box-shadow(none);

	@media (min-width: 1200px) {
		padding-left: 19px;
		padding-right: 19px;
	}

	&:focus {
		border-color: @linkColor;
		.box-shadow(none);
	}
}
textarea {
	border-color: #353535 !important;

	&:focus {
		border-color: @linkColor !important;
	}
}

/* Contact form */
.wpcf7-form {
	p.field {
		input {
			padding: 6px 12px;

			@media (min-width: 1200px) {
				padding-left: 19px;
				padding-right: 19px;
			}
		}
	}

	textarea {
		padding: 6px 12px;

		@media (min-width: 1200px) {
			padding-left: 19px;
			padding-right: 19px;
		}
	}

	.ajax-loader {
		margin-top: 10px;
	}
}
.wpcf7-not-valid-tip {
	.border-radius(0px) !important;
}

/* Button */
.btn {
	border: none;
	text-shadow: none;

	&-primary {		
		background: @linkColor;
		color: @black;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;	
		z-index: 1;
		overflow: hidden;
		.border-radius(0px);
		.box-shadow(none);
		.transition(color 0.3s);

		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 0;
			background: @black;
			z-index: -1;
			.transition(all 0.4s linear);
		}

		&:before {
			top: -50%;
		}

		&:after {
			bottom: -50%;
		}

		&:hover,
		&:focus {
			color: @linkColor;	
			background: @linkColor;		
			.transition(color 0.3s);

			&:before,
			&:after {
				height: 100%;	
			}

			&:before {
				top: auto;
				bottom: 50%;
			}

			&:after {
				bottom: auto;
				top: 50%;
			}
		}

		&.btn-normal {
			font-size: 16px;
			padding: 11px 23px;
		}
	}

	&-link {
		padding: 0;		

		&.btn-normal {
			font-size: 14px;
		}

		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

/* Back to Top */
#back-top {
	margin-bottom: 0;

	&-wrapper {
		right: 35px;
		bottom: 30px;
		z-index: 500;
	}

	a {
		width: 30px;
		font-size: 45px;
		font-family: @FontAwesome;

		&:hover {
			color: @white;

			span {
				background-color: transparent;

				&:before {
					.scale(0);

					.ie8 & {
						visibility: hidden;
					}
				}

				&:after {
					.scale(1);

					.ie8 & {
						visibility: visible;
					}
				}
			}
		}
	}
	span {
		width: 30px;
		height: 20px;
		background: none;
		margin-bottom: 0;
		text-align: center;

		&:before,
		&:after {
			content: '\f106';	
			line-height: 20px;		
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			.transition(0.5s);
		}

		&:before {
			color: @linkColor;
		}

		&:after {
			color: @linkColorHover;
			.scale(0);

			.ie8 & {
				visibility: hidden;
			}
		}
	}
}
/*// Back to Top */

/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";