/*--
	Theme Name: theme51822
	Theme URI: http://info.template-help.com/help/
	Description: A theme for Wordpress 3.8.x
	Author: Template_Help.com
	Author URI: http://info.template-help.com/help/
	Template: CherryFramework
	Version: 3.1.2
--*/

/* ----------------------------------------
	Please, You may put custom css here
---------------------------------------- */

.custom-menu-vertical .menu {
    list-style: none;
    padding: 0 15px;
    margin: 15px -30px;
}
.custom-menu-vertical .menu li {
    display: block;
    position: relative;
}
.custom-menu-vertical .menu li a {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-top: 1px solid rgba(255,255,255,0.25);
    transition: background-color 0.5s;
}
.custom-menu-vertical .menu li:first-child a {
    border-top: none;
}

.custom-menu-vertical .menu > li a {
    background-color: rgba(112,48,35,0);
}
.custom-menu-vertical .menu > li a:hover {
    background-color: rgba(112,48,35,1);
}

.custom-menu-vertical .menu .sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 99;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-width: 0;
    opacity: 0;
    transition: max-width 0.5s ease-in, opacity 0.25s ease-in;
    background-color: #000;
}
.custom-menu-vertical .menu > li:hover .sub-menu {
    max-width: 500px;
    opacity: 1;
}
.custom-menu-vertical .menu .sub-menu li {
    width: 250px;
}
.custom-menu-vertical .menu .sub-menu li a {
    background-color: rgba(112,48,35,0.25);
    text-transform: none;
}
.custom-menu-vertical .menu .sub-menu li a:hover {
    background-color: rgba(112,48,35,1);
}
